// -----------------------------------------------------------------------------
// This file contains all styles related to the contacts component.
// -----------------------------------------------------------------------------
.contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;

    &--flex-end {
        justify-content: flex-end;
    }

    &--flex-grow {
        flex-grow: 1;
    }

    &__item:not(:first-child) {
        margin-left: 50px;
        }

    &__link {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.14;
        letter-spacing: 0.02em;
        font-style: normal;
        text-transform: lowercase;
        color: $contact-link-color;
        transition: color $transition;

        &:hover,
        &:active,
        &:focus {
            color: $brand-color;
        }
    }

    &__icon-envelope {
        fill: currentColor;
        margin-right: 10px;
        width: 16px;
        height: 12px;
    }

    &__icon-smartphone {
        fill: currentColor;
        margin-right: 10px;
        width: 10px;
        height: 16px;
    }
}