// -----------------------------------------------------------------------------
// This file contains all styles related to the filter list component.
// -----------------------------------------------------------------------------
.filter-list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    flex-wrap: wrap; 

    &--padding-bottom {
        padding-bottom: 50px;
    }

    &__item:not(:first-child) {
        margin-left: 8px;
    }
}

