// -----------------------------------------------------------------------------
// This file contains all styles related to the h2 heading component.
// -----------------------------------------------------------------------------
.h2-heading {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-align: center;
    color: $text-color;

    &--margin-bottom {
        margin-bottom: 50px;
    }
}