// -----------------------------------------------------------------------------
// This file contains all styles related to the h3 heading component.
// -----------------------------------------------------------------------------
.h3-heading {
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: $h3-footer-color;

    &--margin-bottom {
        margin-bottom: 20px;
    }
}