// -----------------------------------------------------------------------------
// This file contains all styles related to the hero component.
// -----------------------------------------------------------------------------
.hero {
    text-align: center;

    &__image {
        max-width: $hero-image-max-width;
        padding: 200px 0;
        background-image: $hero-bg-overlay, $hero-bg-img;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 0 auto;
    }

    &__heading {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        max-width: 696px;
        margin: 0 auto 30px;
    }
}