// -----------------------------------------------------------------------------
// This file contains all styles related to the modal window component.
// -----------------------------------------------------------------------------
.modal-window {
    background-color: $modal-window-bg-color;
    min-width: $modal-window-min-width;
    cursor: auto;
    box-shadow: $modal-window-shadow;
    border-radius: 4px;
    padding: 40px;
    position: relative;

    &--center {
        margin: auto;
    }

    &__heading {
        font-weight: 700;
        font-size: 20px;
        line-height: 1.15;
        text-align: center;
        letter-spacing: 0.03em;

        &--margin-bottom {
            margin-bottom: 12px;
        }
    }
}

